/* CSS Document for Screens */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin: 0 auto;
	padding: 0;
	color: #555555;
	max-width: 1200px;
	position: relative;
}

/*TEXT*/
 
h1 {
	margin: 0 0 1em 0;
	font-size: 2.8em;
	font-weight: 700;
}
 
h2 {
	margin: 0 0 0.5em 0;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.1em;
}
 
h3 {
	margin: 0 0 0.5em 0;
	font-size: 1.3em;
	font-weight: 700;
	line-height: 1.1em;
}
 
h4 {
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 1em 0;
	line-height: 1.1em;
}
p {
	margin: 0 0 1em 0;
}
a {
	color: #007EFF;
}
a:visited {
	color: #000000;
}
a.btn {
	font-size: 1.2em;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	padding: 4px 15px;
	color: #FFFFFF;
	transition:background-color .5s;
	
}
a.btn:hover {
	background-color: rgba(0,0,0,0.30);
}

/*HEADER*/

header {
	height: 430px;
	background-color: #CF0004;
	background-image: url(../images/banner_1200.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	position: relative;
}
header a.logo  {
	position: absolute;
	display: block;
	width: 160px;
	height: 66px;
	background-image: url(../images/logo.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	top: 15px;
	left: 20px;
}
header a.logo span {
	display: none;
}
header div.hero {
	position: absolute;
	width: 42%;
	top: 130px;
	left: 55%;
}
header div.hero h1 {
	color: #FFFFFF;
	margin: 0 0 30px 0;
	line-height: 1em;
}

/*SECTION ALL*/

section {
	padding: 0 30px;
}

/*SECTION MAIN*/

section.main {
	margin-top: 20px;
	padding: 0;
	margin-bottom: 30px;
}
section.main aside {
	width: 33%;
	float: left;
	text-align: center;
}
section.main aside .content {
	margin: 15px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 75px 75px;
	padding-top: 85px;
}
